body{
    background-image: url("desktop.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;
    font-family:initial;
}



table{
    background-color:black;
}
button{
    background-color:grey;
}
input{
    background-color:whitesmoke;
}
